body{
    margin:auto;
}

header{
    background-color: aqua;
    background-image: url(../img/pattern.png);
    height: 20%;
    
}

.int{
    padding-left: 10%;
    margin-top: 3%;

}

main{
    width: 80%;
    margin:auto;
}

.fonti{
    margin:auto;
    list-style: none;
    padding: 0%;
    font-size: small;
    
}

.booleaner{
    color: blue;
}

.spazio{
    margin: -2%;
    padding-left: 2%;
    font-size: 12px;

}

.spazio1{
	font-size: 10px;
	margin-top: 2%;
}

.evidenza{
    background-color: yellow;
}

footer{
    width: 80%;
    margin: auto;
}

h1{
    margin-top: 1%;
}

.row1{
    background-color:rgb(0, 26, 255) ;
    color: white;
}

.row2{
    background-color: aquamarine;
}

.piè{
    color: rgba(150, 162, 173, 0.607);
}

.img1{
    padding-bottom: 14%;
     color: white;
    margin-top: -19%;
}

.img2{
    padding-bottom: 20%;
  color: white;
  margin-top: -19%;
}



table{
    border-spacing: 0px;
}

.td1{
width: 30%;
}